<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 440px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


    </style>
</head>
<body>

<div class="row">
    {% for json in jsonarrawy %}
    <div class="column" style="border: 1px solid black">
        <div>
            <div style="text-align: center; padding-bottom: 5px;">
                COMPROBANTE DE ENVIO
            </div>
            <div style="text-align: center; padding-bottom: 5px;">
                <td style="text-align: center;">Orden: {{ json['registro']['registro'] }}</td>
            </div>

            <section class="info text-primary container">

                <div class="info-personal">
                    <!--                        {{ json['detalle']['billing'] }}-->
                    <table style="width:100%">
                        <tr style="padding: 5px 0px 5px 0px;">
                            <td>Nombre</td>
                            <td style="text-align: right;"> {{json['detalle']['billing']['first_name'] }}
                                {{json['detalle']['billing']['last_name']}}
                            </td>
                        </tr>
                        <tr style="padding: 5px 0px 5px 0px;">
                            <td>Whastapp</td>
                            <td style="text-align: right;">{{json['detalle']['billing']['phone']}}</td>
                        </tr>
                        <tr>
                            <td>Fecha</td>
                            <td style="text-align: right;">{{ fecha }}</td>
                        </tr>
                    </table>
                    <div style="text-align: center; padding: 5px 0 5px 0;">
                        NO RECIBIR PRODUCTO EN MAL ESTADO
                    </div>
                    <table style="width:100%">

                        <tr>
                            <td>Entrega Comuna</td>
                            <td style="text-align: right;">{{json['registro']['comuna']}}</td>
                        </tr>
                        <tr>
                            <td>Entrega Calle</td>
                            <td style="text-align: right;">{{json['detalle']['billing']['address_1']}}</td>
                        </tr>
                        <tr>
                            <td>Mensaje</td>
                            <td style="text-align: right;"></td>
                        </tr>
                        <tr>
                            <td>Producto(s)</td>
                            <td style="text-align: right;">
                                {% for result in json['detalle']['line_items'] %}
                                <div>
                                    {{ result['name'] }}
                                </div>
                                {% endfor %}
                            </td>

                        </tr>
                    </table>
                    <div style="text-align: center; padding-top: 5px;">
                        <td style="text-align: center;"><b> {{ json['registro']['tipodepago']}}  ${{ json['registro']['valordeflete'] if json['registro']['valordeflete'] != '0.00' else ''  }} </b></td>
                    </div>
                    <div style="text-align: center; padding-top: 5px;">
                        <img src="http://127.0.0.1:4545/reporte/static/Logo1.543c9584.jpg" alt="logo" width="110"
                             style="border-radius: 10px; margin-bottom: 18px;">
                        <td style="text-align: right;"><img src="{{ json['qr'] }}" alt="logo" width="80"></td>
                        <img src="http://127.0.0.1:4545/reporte/static/logoweb.png" alt="logo" width="110"
                             style="border-radius: 10px; margin-bottom: 18px;">
                    </div>

                    <div class="text-primary" align="center">
                        <!--                <img width="600px" class="heade__img" src="http://127.0.0.1:3003/reporte/static/linea_carta_cliente_fr.png" alt="logo"/>-->
                    </div>
                </div>
            </section>
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>